/* Base Styles */
:root {
    --primary-color: rgb(91, 91, 243);
    --secondary-color: antiquewhite;
    --text-color: #040505;
}

/* Icon Styles */
.fa-home,
.fa-cog,
.fa-envelope,
.fa-tachometer-alt,
.fa-user-tie,
.fa-graduation-cap,
.fa-calendar-alt,
.fa-sign-in-alt {
    font-size: 24px;
    color: var(--text-color);
    margin-right: 8px;
}

.fa-github {
    font-size: 30px;
    color: var(--text-color);
    padding-right: 50px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }
    
    .sidebar .navbar-brand {
        padding-left: 0;
        text-align: center;
    }
    
    .nav-link {
        justify-content: center;
    }
    .sidebar .nav-link:hover,
.sidebar .nav-link:hover i {
    background-color: black !important;
    color: white !important;
}

}