.fa-home {
    font-size: 24px;
    color: #040505;
}

.fa-cog {
    font-size: 24px;
    color: #000000;
}

.fa-envelope{
    font-size: 24px;
    color: #060707;
}

.fa-tachometer-alt{
    font-size: 24px;
    color: #060707;
}

.fa-user-tie{
    font-size: 24px;
    color: #040505;
}

.fa-graduation-cap{
    font-size: 24px;
    color: #060707;
}

.fa-calendar-alt{
    font-size: 24px;
    color: #060707;
}

.fa-github{
    font-size: 30px;
    color: #040505;
    align-items: center;
    padding-right: 50px;
}
