/* Base Styles */
:root {
    --primary-color: rgb(91, 91, 243);
    --secondary-color: antiquewhite;
    --text-color: #040505;
}

/* Icon Styles */
.fa-home,
.fa-cog,
.fa-envelope,
.fa-tachometer-alt,
.fa-user-tie,
.fa-graduation-cap,
.fa-calendar-alt,
.fa-sign-in-alt {
    font-size: 24px;
    color: var(--text-color);
    margin-right: 8px;
}

.fa-google {
    font-size: 30px;
    color: var(--text-color);
    padding-right: 50px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }
    
    .sidebar .navbar-brand {
        padding-left: 0;
        text-align: center;
    }
    
    .nav-link {
        justify-content: center;
    }
    .sidebar .nav-link:hover,
.sidebar .nav-link:hover i {
    background-color: black !important;
    color: white !important;
}

}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
}

.course-list {
    list-style-type: none;
    padding: 0;
}

.course-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.course-info {
    margin-bottom: 10px;
}

.course-title {
    font-weight: bold;
}

.progress {
    color: #666;
    font-size: 14px;
}

.progress-circle {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.progress-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #333;
}

.progress-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.progress-circle[data-progress]::before {
    transform: rotate( calc( ( var(--percentage) / 100 ) * 360 )deg );
}